<?xml version="1.0" encoding="UTF-8" ?>
<plugin
	id="index-justeat"
	name="JustEat Indexing Filter"
	version="1.0.0"
	provider-name="nutch.org">
	<runtime>
		<library name="index-justeat.jar">
			<export name="*"/>
		</library>
	</runtime>
	<requires>
		<import plugin="nutch-extensionpoints"/>
	</requires>
	<extension id="org.apache.nutch.indexer.justeat"
			name="Nutch JustEat Indexing Filter"
			point="org.apache.nutch.indexer.IndexingFilter">
		<implementation id="JustEatIndexer"
			class="org.apache.nutch.indexer.justeat.JustEatIndexer"/>
	</extension>
</plugin>
